.size {
  height: 200px;
  width: 200px;
}
.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0f172a;
  height: 100vh;
  margin: 0px;
}

.main-heading {
  font-family: "Roboto";
  color: #f8fafc;
}
